body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table {
  border-collapse: collapse;
  width: 100%;
  align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
thead{
  background-color: #282ab5;
}
tr:nth-child(even) {
  background-color: #86a7ba;
}

input[type=submit],input[type=button] {
  position: relative;
  top: 25px;
  margin-right: 20px;
  padding: 15px 45px;
  background: #000;
  color: white;
  border: 0 none;
  cursor: pointer;
  border-radius: 5px;
}
